#------------------------------------------------------------------
# file: /boot/grub/grub.cfg for the Live version of antiX
#
# This file can get updated automatically on a LiveUSB via the save
# feature in the text menus.  It is possible to break these updates
# by editing this file.
#------------------------------------------------------------------

# load defaults
#
if [ -s $prefix/config/defaults.cfg ]; then
source $prefix/config/defaults.cfg
fi

# search --no-floppy --set=root --fs-uuid %UUID%
set timeout=60
set gfxmode=1024x768
set gfxpayload="2048x2048;2048x1280;2048x1080;1920x1080;1680x1050;1600x900;1600x1200;1600x1050;1500x1000;1440x960;1440x900;1368x912;1366x768;1280x800;1280x720;1280x1024;1200x800;1024x768;auto"

set default=1

menuentry " antiX-26 x64-core (28 January 2026)" {
linux /antiX/vmlinuz quiet
initrd /antiX/initrd.gz
}

### init-diversity menu entries (delete the the ones that aren't needed) ###

menuentry " antiX-26 x64-core (runit)" "$kernel" "$initrd" "$kopts" --id=linux {
kernel="$2"
initrd="$3"
shift 3
linux /antiX/${kernel} quiet init=/sbin/init-runit $@
initrd /antiX/${initrd}.gz
}

menuentry " antiX-26 x64-core (sysVinit)" "$kernel" "$initrd" "$kopts" --id=linux {
kernel="$2"
initrd="$3"
shift 3
linux /antiX/${kernel} quiet init=/sbin/init-sysvinit $@
initrd /antiX/${initrd}.gz
}

menuentry " antiX-26 x64-core (dinit)" "$kernel" "$initrd" "$kopts" --id=linux {
kernel="$2"
initrd="$3"
shift 3
linux /antiX/${kernel} quiet init=/sbin/init-dinit $@
initrd /antiX/${initrd}.gz
}

menuentry " antiX-26 x64-core (s6-rc)" "$kernel" "$initrd" "$kopts" --id=linux {
kernel="$2"
initrd="$3"
shift 3
linux /antiX/${kernel} quiet init=/sbin/init-s6-rc $@
initrd /antiX/${initrd}.gz
}

menuentry " antiX-26 x64-core (s6-66)" "$kernel" "$initrd" "$kopts" --id=linux {
kernel="$2"
initrd="$3"
shift 3
linux /antiX/${kernel} quiet init=/sbin/init-s6-66 $@
initrd /antiX/${initrd}.gz
}
#--custom  }


submenu ">>> Advanced Options for antiX-26 x64-core <<<" {

menu_color_normal=white/black
menu_color_highlight=yellow/light-gray

menuentry " antiX-26 x64-core Failsafe" {
linux /antiX/vmlinuz quiet failsafe
initrd /antiX/initrd.gz
}

menuentry "antiX-26 x64-core Create Bootchart" {
linux /antiX/vmlinuz quiet bootchart initcall_debug printk.time=y
initrd /antiX/initrd.gz
}

menuentry " antiX-26 x64-core (1024x768)" {
linux /antiX/vmlinuz quiet
initrd /antiX/initrd.gz
}

menuentry " Power Off" --hotkey=P {
halt
}

menuentry " Reboot"  --hotkey=R {
reboot
}

if [ -f /boot/grub/theme/help.txt ]; then
menuentry " Help" --hotkey=H {
cat /boot/grub/theme/help.txt
echo -n "Press <Enter> to continue "
read xxx_help
}
fi
}


# load boot menus
#
if [ -f $prefix/config/bootmenu.cfg ]; then
source $prefix/config/bootmenu.cfg
fi
