#!/usr/bin/execlineb -S0

importas -iu VERBOSITY VERBOSITY
importas -iu TREE TREE
importas -iu LIVE LIVE
importas -iu CONTAINER_HALTCMD

## By default the output goes to the uncaught-logs at
## /run/66/log/0/current
## If you want to see it on console uncomment the following line
#
# redirfd -w 1 /dev/console

foreground {
    if { 66-echo -- "[Start services of tree ${TREE}...]" }
    66 -v${VERBOSITY} -l ${LIVE} tree start ${TREE}
}

importas initcode ?

ifelse { test ${initcode} -gt 0 }
{
    foreground {

        redirfd -w 1 ${CONTAINER_HALTCMD}

        ## Uncomment the following if you want to change
        ## the default halt command to send e.g r for reboot (default p meaning poweroff)
        #
        # if { 66-echo -- HALTCODE=r }

        66-echo -- EXITCODE=${initcode}
    }

    66-echo -- "rc.init.container: fatal: the service boot process crashed with exitcode=${initcode}"
}


foreground {

    ## Appends the command to launch inside your container here
}

importas exitcode ?

foreground {

    redirfd -w 1 ${CONTAINER_HALTCMD}

    ## Uncomment the following if you want to change
    ## the default halt command to send e.g r for reboot (default p meaning poweroff)
    #
    # if { 66-echo -- HALTCODE=r }

    66-echo -- EXITCODE=${exitcode}
}

ifelse -X { test ${exitcode} -gt 0 }
{ 66-echo -- "rc.init.container: fatal: the command crashed with exitcode=${exitcode}" }



